In [33]:
# load the file_name with ending of .csv under certain directory
import os

file_names = []
cwd = os.getcwd()
#print(cwd)
directory = os.path.join(cwd + "/new_filtered_df_select_use.csv/")
for root,dirs,files in os.walk(directory):
    for file in files:
        if file.endswith(".csv"):
            file_names.append(str(file))

#print(file_names)

In [34]:
# sort the file_name with ending of .csv under certain directory

#grab the middle 5 characters of the file name[index:5-10]:
def mid_5chars(x):
    return(x[5:10])

sorted(file_names, key = mid_5chars)
file_names_sorted = [filename for filename in sorted(file_names, key = mid_5chars)]
#print(file_names_sorted)

In [35]:
import pandas as pd

df = pd.read_csv(directory + file_names_sorted[0])
df.head(5)

/anaconda/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

         date          uid play_time  song_length   song_id
0  2017-03-30  168550892.0       254        254.0  23491655
1  2017-03-30  168540455.0       189        190.0    298250
2  2017-03-30  168551247.0        78        149.0  11881432
3  2017-03-30  168549788.0        16        242.0    295469
4  2017-03-30  168551248.0        87         87.0  21393368

In [36]:
df.count()

date           1075907
uid            1006434
play_time      1075907
song_length    1075907
song_id        1075907
dtype: int64

In [37]:
#Drop the raws where any of the elements is nan
df = df.dropna(axis=0, how='any')
df.count()

date           1006434
uid            1006434
play_time      1006434
song_length    1006434
song_id        1006434
dtype: int64

In [38]:
# clean the data whose have the outlier values
import numpy as np

def is_float(input_data):
    try:
        float_num = float(input_data)
    except ValueError:
        return False
    return True

def is_int(input_data):
    try:
        float_num = int(input_data)
    except ValueError:
        return False
    return True

def get_true_false_index(attr,func):
    df[attr + '_true_false_index'] = df[attr].map(func)
    df.loc[df[attr + '_true_false_index'] == False, attr] = np.nan
    df[attr] = df[attr].astype(float)

attrs = ['play_time', 'song_length', 'song_id', 'uid']
for attr in attrs:
    if attrs.index(attr) < 2:
        get_true_false_index(attr, is_float)
    else:
        get_true_false_index(attr, is_int)

In [39]:
# find the nan value info
df.isnull().sum()

date                     0
uid                      0
play_time             5299
song_length              0
song_id                  0
play_time_update         0
song_length_update       0
song_id_update           0
uid_update               0
dtype: int64

In [40]:
#Drop the raws where any of the elements is nan
df = df.dropna(axis=0, how='any')
df.count()

date                  1001135
uid                   1001135
play_time             1001135
song_length           1001135
song_id               1001135
play_time_update      1001135
song_length_update    1001135
song_id_update        1001135
uid_update            1001135
dtype: int64

In [42]:
# keep the data we care about
df_clean = df[['date', 'uid', 'play_time', 'song_length', 'song_id']]
df_clean.describe()

                uid     play_time   song_length       song_id
count  1.001135e+06  1.001135e+06  1.001135e+06  1.001135e+06
mean   1.682982e+08 -9.944469e+04  2.347888e+02  4.266359e+13
std    3.877620e+06  1.022393e+08  3.179686e+02  2.140679e+16
min    1.000872e+08 -1.022973e+11 -1.000000e+00 -1.000000e+00
25%    1.686122e+08  2.000000e+00  1.780000e+02  7.087960e+05
50%    1.686874e+08  4.000000e+01  2.360000e+02  4.627739e+06
75%    1.688118e+08  2.120000e+02  2.750000e+02  7.186125e+06
max    1.689337e+08  1.590808e+07  7.918800e+04  1.844674e+19

In [43]:
# delete the negative value

               date          uid  play_time  song_length     song_id
0        2017-03-30  168550892.0      254.0        254.0  23491655.0
1        2017-03-30  168540455.0      189.0        190.0    298250.0
2        2017-03-30  168551247.0       78.0        149.0  11881432.0
3        2017-03-30  168549788.0       16.0        242.0    295469.0
4        2017-03-30  168551248.0       87.0         87.0  21393368.0
5        2017-03-30  168550496.0      369.0       2747.0  12495422.0
6        2017-03-30  168551331.0      231.0        231.0  20671171.0
7        2017-03-30  168535490.0      283.0        283.0   6616004.0
8        2017-03-30  168539760.0      197.0        198.0   4732048.0
9        2017-03-30  168551373.0       14.0        212.0   3378911.0
10       2017-03-30  168544926.0        6.0         28.0   4403788.0
11       2017-03-30  168551042.0      106.0        277.0    505355.0
12       2017-03-30  168551026.0        2.0         31.0  19477157.0
13       2017-03-30  168532580.0       67.0        137.0  21762903.0
14       2017-03-30  168551417.0       27.0        226.0    727161.0
15       2017-03-30  168551430.0      231.0        231.0   1179220.0
16       2017-03-30  168540348.0    64528.0          0.0     77260.0
17       2017-03-30  168550728.0      282.0        282.0    285233.0
18       2017-03-30  168551156.0        0.0        274.0    313037.0
19       2017-03-30  168530895.0      264.0        265.0         0.0
20       2017-03-30  168543026.0        0.0          0.0   6623026.0
21       2017-03-30  168551310.0       29.0        215.0   7149583.0
23       2017-03-30  168551179.0       26.0        212.0  23485496.0
24       2017-03-30  168550572.0       11.0        272.0   4297299.0
25       2017-03-30  168548493.0       63.0        243.0   6661513.0
26       2017-03-30  168532580.0       67.0        137.0  21762903.0
27       2017-03-30  168551548.0        5.0        243.0   1474915.0
28       2017-03-30  168549867.0       15.0        294.0   5333750.0
29       2017-03-30  168550571.0       24.0        251.0         0.0
30       2017-03-30  168551323.0       93.0         93.0  16889394.0
...             ...          ...        ...          ...         ...
1075877  2017-03-30  168821885.0        0.0          0.0   5753699.0
1075878  2017-03-30  168930568.0        0.0          0.0    815515.0
1075879  2017-03-30  168921622.0       61.0        293.0   7104406.0
1075880  2017-03-30  168924946.0        5.0        211.0   9962546.0
1075881  2017-03-30  168763505.0        0.0        307.0  16400733.0
1075882  2017-03-30  168932091.0        2.0          3.0   4757155.0
1075883  2017-03-30  168821885.0        0.0          0.0   6534344.0
1075884  2017-03-30  168922343.0      271.0        271.0   7190414.0
1075885  2017-03-30  168910815.0      148.0        147.0   6225813.0
1075886  2017-03-30  168674181.0      169.0        289.0    629561.0
1075887  2017-03-30  168932003.0       22.0        239.0    142544.0
1075888  2017-03-30  168932675.0       37.0        244.0     60055.0
1075889  2017-03-30  168733369.0      145.0        209.0   3238712.0
1075890  2017-03-30  168932704.0      301.0        582.0    607709.0
1075891  2017-03-30  168902663.0        2.0        255.0    487367.0
1075892  2017-03-30  168905779.0        5.0        293.0   3244832.0
1075893  2017-03-30  168918601.0       53.0        276.0         0.0
1075894  2017-03-30  168890465.0       40.0        209.0         0.0
1075895  2017-03-30  168931836.0      311.0        310.0   3620537.0
1075896  2017-03-30  168821885.0        0.0          0.0    678775.0
1075897  2017-03-30  168932386.0      214.0        214.0   7178000.0
1075898  2017-03-30  168834825.0       42.0        249.0   7005106.0
1075899  2017-03-30  168919452.0        0.0          0.0   9820714.0
1075900  2017-03-30  168868198.0      199.0        199.0    461313.0
1075901  2017-03-30  168699007.0      190.0        190.0   4299235.0
1075902  2017-03-30  168901323.0       71.0        244.0    740568.0
1075903  2017-03-30  168924317.0      266.0        266.0   6913294.0
1075904  2017-03-30  168932197.0        3.0        295.0   6883047.0
1075905  2017-03-30  168821885.0        0.0          0.0   1149606.0
1075906  2017-03-30  168809946.0     1539.0       1796.0         0.0

[1001135 rows x 5 columns]